@import "variables.scss";
@import "common.scss";

.message {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: $roboto;

    .markdown {
        p {
            margin: 0;
        }
    }
}

.client {
    @include message-bubble($blue-1, $white);
    margin-left: auto;
    overflow-wrap: break-word;

    a {
        color: $turqois-1;
    }
}

.clientAuto {
    @include message-bubble($blue-2, $white);
    margin-left: auto;
    overflow-wrap: break-word;

    a {
        color: $turqois-1;
    }
}

.response {
    @include message-bubble($grey-2, #000);
    overflow-wrap: break-word;
}

/* For markdown elements created with default styles */
.message-text {
    margin: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.message-chip {
    background: #e8eaf0;
    border-radius: 100px;
    color: #23366c;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 8px;
}

.message-bchip {
    background: #e8eaf0;
    border-radius: 100px;
    color: #23366c;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    padding: 2px 8px;
}

.message-hint {
    color: #8b95b1;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 18px;
}

.message-html-message {
    p {
        margin-bottom: 0;
    }
}
