@import "variables.scss";

.sender-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sender {
  align-items: center;
  display: flex;
  background-color: $grey-2;
  height: 45px;
  padding: 5px;
}

.new-message {
  font-size: 0.9em;
  width: 100%;
  border: 0;
  background-color: $grey-2;
  height: 30px;
  padding-left: 15px;

  &:focus {
    outline: none;
  }
}

.widget-embedded {
  .sender {
    flex: 0, 0, auto;
    height: 60px;
  }
}

.send {
  background: $grey-2;
  border: 0;

  .send-icon {
    height: 25px;
  }
}

@media screen and (max-width: 800px)  {
  .sender {
    border-radius: 0;
    flex-shrink: 0;
  }
}
