@import 'variables.scss';
@import 'common.scss';

.messages-container {
  background-color: $white;
  height: 50vh;
  max-height: 425px;
  overflow-y: auto;
  padding-top: 10px;
}

.widget-embedded {
  .messages-container {
    height: 100vh;
    max-height: 100%;
  }
}

.full-screen {
  .messages-container {
    @include messages-container-fs;
  }
}

@media screen and (max-width: 800px) {
  .messages-container {
    @include messages-container-fs;
  }
}

.typing-signal {
  border-radius: 20px 100px 100px 0px;
  max-width: fit-content !important;
}

.wave {
  position: relative;
  text-align: center;
  width: fit-content;
  height: 13px;
  .wave-dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 6px;
    background: white;
    animation: wave 1.6s linear infinite;

    &:nth-child(2) {
      animation-delay: -1.4s;
    }

    &:nth-child(3) {
      animation-delay: -1.2s;
    }
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    opacity: 0.5;
    transform: initial;
  }

  30% {
    opacity: 1;
    transform: translateY(-5px);
  }
}

@-webkit-keyframes wave {
  0%,
  60%,
  100% {
    opacity: 0.5;
    transform: initial;
  }

  30% {
    opacity: 1;
    transform: translateY(-5px);
  }
}
